<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Hammersmith One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/homepage/css">
    <title>Pigeon</title>
</head>
<body>
    <div id="bodyTop">
        <img src="/images/logo" alt="logo" id="logo">
        <h1 id="title">Pigeon</h1>
    </div>

    <div id="passcode">
        <p>ENTER YOUR 4-DIGIT PIGEON CODE</p>
        <form id="passcodeInputs">
            <input type="text" class="passcodeInput" maxlength="1">
            <input type="text" class="passcodeInput" maxlength="1">
            <input type="text" class="passcodeInput" maxlength="1">
            <input type="text" class="passcodeInput" maxlength="1">
        </form>
    </div>

    <script src="/homepage/js"></script>
</body>
</html>