<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick file share</title>
    <link rel="stylesheet" type="text/css" href="/homepage/css">
</head>
<body>
    <h1 style="text-align: center;">ENTER YOUR 4 DIGIT CODE</h1>

    <div id="passcode">
        <form>
            <input type="text" class="passcodeInput" maxlength="1">
            <input type="text" class="passcodeInput" maxlength="1">
            <input type="text" class="passcodeInput" maxlength="1">
            <input type="text" class="passcodeInput" maxlength="1">
        </form>
    </div>

    <div id="passcodeDiv" style="visibility: hidden";>
        <p>Your password is: <span id="userPasscode">xxxx</span></p>
    </div>

    <div id="hostRoom">

    </div>

    <a href="/nice" name="linktome" id="linktome" target="_self">Go Somewhere</a> 

    <h1><%= username %></h1>
    

    <button id = 'myButton' ></button>

    <script src="/homepage/js"></script>
</body>
</html>